<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
        http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
        version="3.1">

    <display-name>Muad DI Servlet test application</display-name>

    <servlet>
        <servlet-name>MuadDi</servlet-name>
        <servlet-class>io.github.navpil.muaddi.servlet.MuadServlet</servlet-class>
        <init-param>
            <param-name>beans</param-name>
            <param-value>
                muadservlet.example.BookServlet
                muadservlet.example.BookService
            </param-value>
        </init-param>
        <!-- Important -->
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MuadDi</servlet-name>
        <url-pattern>/muaddiservlet</url-pattern>
    </servlet-mapping>


</web-app>